@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Web-based online portal for parents of students to get some information about their son/daughter education rate. </p>
</div>
